# Discord bot token 
TOKEN=BOT_TOKEN

# Bot prefix
PREFIX=.

# List of admins who can use the bot commands using discord user id's.
# You can add multiple by adding a space between the id's.
ADMINS=12345678

# Must be a number
SHARDS=1